body, html{
  height:100%; 
}
body{
  margin: 0px;
  background-color: #cccccc;
  font-size: 18px;
  background-image: url("url.jpg");
  background-size: auto 100%;
  background-color: #cccccc;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}


.title, 
.addDancerButton,
.addLineUpButton {
  padding:5px 12px;
  float:right;
}

.addLineUpButton {
  float:left;
}

.topbar{
  height:32px;
  background-color: #555;
}

.container{
  height: 800px;
  width: 100%;
}

.title{
  background-color: #777;
}
.dancer { /* Note: Changed border to 0px*/
  height: 10px;
  width: 10px;
  border:1px solid white;
  border-radius:50%;
  position:absolute;
  background: white;
  opacity: 0.75;
  box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.25)
}

.radiate { /* Note: Changed border to 0px*/
  border:7px solid white;
  border-radius:50%;
  position:absolute;
  background: white;
  opacity: 0.75;
  box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.25)
}

.center {
  height: 100px;
  width: 100px;
  margin: center;
}

.seeker { /* Note: Changed border to 0px*/
  border: 0px solid white;
  border-radius:50%;
  position:absolute;
  background: white;
  opacity: 0.25;
  height: 15px;
  width: 15px;
  transform-origin: 50% 50% 0;
  /*box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.25)*/
}

.seek-flash {
  box-shadow: 0px 0px 7px 7px rgba(255,255,255,0.75)
}

.scatter { /* Note: Changed border to 0px*/
  background: white;
  opacity: 1;
  /*box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.25)*/
}